.buttons__container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid lightgrey; 
    padding: 10px;
}

.buttons_button{
    color: rgb(0, 130, 130);
    border: none;
    margin: 0px;
    margin-left: 20px;
    background-color: transparent;
    transition: 0.5s;
}

.buttons_button:disabled{
    color: lightgray;
}

.buttons_button:hover{
    color: rgb(0, 150, 150);
}

.buttons_button:active{
    color: rgb(0, 170, 170);
}